@model ProyectoP1rogra.Models.Membresias

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Membresías</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.membresia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.membresia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.caducidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.caducidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDcliente">Editar</a> |
    <a asp-action="Index">Regresar a la Lista</a>
</div>
