@model IEnumerable<ProyectoP1rogra.Models.Membresias>

@{
    ViewData["Title"] = "Index";
}

<h1>Membresías</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.membresia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.caducidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.membresia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.caducidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDcliente">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IDcliente">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IDcliente">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
